	body,html{height: 100%;overflow: hidden;}
	.hand{
		position: relative;
		top:30%;
		left: 50%;
		background: #f3c5ad;
		width: 300px;
		height: 230px;
		border-radius: 30px;
		border: 1px solid #8c3e15;
		cursor: pointer;
		 -webkit-transform: rotate(90deg);

	}
	.hand .finger{
		position: absolute;
		bottom: 80%;
		right:0;
		width: 75px;
		height:75px;
		/*border: 1px solid red;*/
		border-top-left-radius: 75px;
		border-top-right-radius: 75px;
		background-color: #f3c5ad;
		border-top: 1px solid #b9511b;
		border-right: 1px solid #b9511b;
		border-left: 1px solid #b9511b;

	}
	.hand .finger:nth-of-type(1){
			right: -1px;
	}
	.hand .finger:nth-of-type(2){
			right: 74px;
	}
	.hand .finger:nth-of-type(3){
			right: 149px;
	}
	.hand .finger:nth-of-type(4){
			right: 224px;
	}
	.hand .finger:nth-of-type(5){
			right: 282px;
			top: 92px;
			background-color:#f3c5ad;
			height: 120px;
			-webkit-transform:rotate(-53deg);
			border-left: 1px solid #b9511b;
			border-top: none;
			border-right:none;
			
	}
	.hand .finger:before{
		content: "";
		width: 75px;
		height: 75px;
		background:  linear-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		right: 0;
		top: 4px;
		border-top-left-radius: 75px;
		border-top-right-radius: 75px;

	}

	.arm{
		width: 200px;
		height: 200px;
		position: absolute;
		background-color:#f3c5ad; 
		right: 14%;
		top: 88%;
		border-left: 1px solid #b9511b;
	}
	
   .num {
        display: block !important;
        -webkit-animation: neon2 1.5s ease-in-out alternate;
        animation: neon2 1.5s ease-in-out alternate;
        -webkit-animation-iteration-count: 1;
        /* Safari 和 Chrome */
        font-size: 40px;
        color: #FF1177;
        position: absolute;
        right: 10%;
        top: 10%;
    }
       .hide {
        display: none;
    }
    
    @-webkit-keyframes neon2 {
        from {
            opacity: 0;
            -webkit-transform: translateY(-20px);
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0) text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
        }
    }
     body {
        background: radial-gradient(ellipse at top left, #94D28A 0%, #D0D8CB 57%);
    }